ion-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-card-header {
  ion-card-title {
    color: var(--ion-card-title-color);
  }
}

ion-card-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  ion-col {
    padding: 5px;
  }
}
