<ion-header>
  <ion-toolbar>
    <ion-title>Pokémons</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToFavorites()" aria-label="Ver favoritos">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <app-theme-toggle></app-theme-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="6"
        size-lg="4"
        *ngFor="let pokemon of pokemons"
      >
        <app-pokemon-card
          [pokemon]="pokemon"
          [isFavorite]="favoriteStates[getIdFromUrl(pokemon.url)]"
          (favoriteToggled)="toggleFavorite($event)"
          (cardClicked)="goToDetail($event)"
        ></app-pokemon-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="previousPage()" [disabled]="!hasPreviousPage">
        <ion-icon name="chevron-back" slot="start"></ion-icon>
        Anterior
      </ion-button>
      <ion-button (click)="nextPage()" [disabled]="!hasNextPage">
        Próximo
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="footer-range">
      Pokémons – {{ offset + 1 }} a {{ offset + pokemons.length }}
    </div>
  </ion-toolbar>
</ion-footer>
