ion-button {
  --background: var(--ion-color-secondary);
  --background-activated: var(--ion-color-accent);
  --color: var(--ion-text-color);
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
}
