// Tema Claro (padrão)
:root {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-accent: #5260ff;
  --ion-background-color: #f4f5f8;
  --ion-text-color: #222428;
  --ion-card-background: #ffffff;
  --ion-card-title-color: #222428;
  --ion-card-subtitle-color: #222428;
  --font-family-base: "Roboto", sans-serif;
  --font-size-base: clamp(16px, 2vw, 18px);
  --font-size-title: clamp(1rem, 4vw, 1.2rem);
  --font-size-title-sm: clamp(0.9rem, 3.5vw, 1rem);
  --font-size-body: clamp(0.875rem, 2.5vw, 1rem);
}

ion-content,
ion-header,
ion-toolbar,
ion-footer,
ion-grid,
ion-row,
ion-card,
ion-card-header,
ion-card-content,
ion-card-title,
ion-card-subtitle,
ion-button,
ion-icon,
ion-label,
ion-input,
ion-select,
ion-text,
ion-textarea,
ion-col {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.dark-theme {
  --ion-color-primary: #60a5fa;
  --ion-color-secondary: #8b5cf6;
  --ion-color-accent: #f6ad55;
  --ion-background-color: #1a202c;
  --ion-text-color: #e2e8f0;
  --ion-card-background: #2d3748;
  --ion-card-title-color: #ffffff;
  --ion-card-subtitle-color: #e2e8f0;
}

body,
ion-app {
  transition: background-color 0.4s ease;
}

ion-header,
ion-toolbar,
ion-content,
ion-grid,
ion-row,
ion-card,
ion-card-header,
ion-card-content,
ion-card-title,
ion-footer {
  transition: background-color 0.3s ease, color 0.3s ease;
}
