.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px);
  padding: 20px;

  app-pokemon-card {
    max-width: 350px;
    width: 100%;
  }
}

.error {
  color: var(--ion-color-danger);
  text-align: center;
  padding: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

ion-icon {
  transition: transform 0.2s ease;

  &:active {
    transform: scale(1.2);
  }
}

.favorite-icon {
  font-size: 20px !important;
  color: var(--ion-color-primary);
}

.favorite-icon[name="heart"] {
  color: var(--ion-color-danger);
}
