<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pokemon"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemonDetails?.name | titlecase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="toggleFavorite(pokemonDetails?.id)"
        [aria-label]="isFavorite ? 'Desfavoritar Pokémon' : 'Favoritar Pokémon'"
      >
        <ion-icon
          [name]="isFavorite ? 'heart' : 'heart-outline'"
          class="favorite-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card-container">
    <app-pokemon-card
      *ngIf="pokemonDetails && !isLoading && !hasError"
      [pokemon]="{
        name: pokemonDetails.name,
        url: 'https://pokeapi.co/api/v2/pokemon/' + pokemonDetails.id + '/'
      }"
      [isFavorite]="isFavorite"
      [showDetails]="true"
      [pokemonDetails]="{
        types: typesFormatted,
        height: heightInMeters,
        weight: weightInKg,
        imageUrl: pokemonDetails.sprites.front_default
      }"
      (favoriteToggled)="toggleFavorite(pokemonDetails.id)"
    ></app-pokemon-card>
  </div>
</ion-content>
